body {
    color: $color-text;
    line-height: 1.4;
}

/* links */
a {
    color: $color-peaceful;
    text-decoration: none;
    &:hover, &.selected {
        color: $color-brand;
    }
}

p, .p {
    margin-top: rem(12px);
    font-size: rem(14px);
    font-family: $typeface-writing;
}
h1, .h1 {
    margin-bottom: 8px;
    font-size: rem(40px);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: $typeface-titles;
}
h2, h3, h4,
.h2, .h3, .h4 {
    margin-top: rem(20px);
    font-size: rem(20px);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: $typeface-headings;
    font-weight: 500;
}
h3, .h3 {
    font-size: 16px;
}
h4, .h4 {
    font-size: 14px;
}


