.recipes {
    // padding: rem(20px);
}
.recipe {
    position: relative;
    background-color: $color-bg-light;
    padding: rem(8px 5px 8px 15px);
    // margin-bottom: rem(16px);
    border-bottom: 1px solid $color-border;
    &.selected {
        background-color: $color-bg;
    }
    &__name {
        font-family: $typeface-titles;
        color: $color-brand;
        margin: 0;
    }
    &__cuisine {
        position: absolute;
        top: rem(10px);
        right: rem(10px);
        margin: 0;
        padding: rem(2px 10px 1px 10px);
        background-color: $color-accent-muted;
        color: $color-text-muted;
        border-radius: 14px;
        font-family: $typeface-headings;
        font-weight: 300;
    }
    &__ingredients {
        overflow: hidden;
    }
    &__ingredient {
        float: left;
        margin: rem(0 22px 8px 0);
        font-family: $typeface-writing;
        line-height: 1.4;
    }
}
.ingredients {
    overflow: hidden;
    background-color: #ebf0f0;
    border: 1px solid $color-border;
    padding: rem(8px 10px);
    margin: rem(12px 10px);
    &__title {
        margin-top: 0;
        font-weight: 400;
    }
    &__item {
        float: left;
        margin: rem(0 22px 8px 0);
        font-family: $typeface-writing;
        line-height: 1.4;
    }
}