/* colour pallete */
$color-brand: #de7a22;
$color-accent: #f4cc70;
$color-peaceful: #20948b;
$color-muted: #6ab187;

$color-dark: #0a312e;
$color-dark-faded: #5a6261;

$color-border: #8c8c8c;
$color-background: #cfc1a2;
$color-bg: #cfc1a2;

$color-text: #0a312e;
$color-text-light: #fff;
$color-text-faded: #375c59;
$color-text-dark: #000;

$color-positive: #21b35e;
$color-negative: #c42d0f;

/* shortcuts for breakpoints */
$bp-xs: 560px;
$bp-s: 768px;
$bp-m: 1024px;
$bp-l: 1240px;
