/* colour pallete */
$color-brand: #de7a22;
$color-accent: #f4cc70;
$color-accent-muted: #fee3a3;
$color-peaceful: #20948b;
$color-muted: #6ab187;

$color-dark: #0a312e;
$color-dark-faded: #5a6261;

$color-border: #cecece;
$color-background: #d4eeec;
$color-bg: #d4eeec;
$color-bg-light: #f8f8f8;

$color-text: #0a312e;
$color-text-light: #fff;
$color-text-muted: #375c59;
$color-text-dark: #000;

$color-positive: #21b35e;
$color-negative: #c42d0f;

/* shortcuts for breakpoints */
$bp-xs: 560px;
$bp-s: 768px;
$bp-m: 1024px;
$bp-l: 1240px;

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Poppins:200,300,400,500,600,700|Rye');

$typeface-titles: 'Rye', cursive;
$typeface-writing: 'Nothing You Could Do', cursive;
$typeface-headings: 'Poppins', sans-serif;
